.contact-parag {
    width: 60%;
    margin: auto;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 80%;
    position: relative;
    bottom: 8rem;
    margin: auto;
    background: #fff;
    padding: 45px;
    filter: drop-shadow(3px 3px 10px #00000014);
    border-radius: 8px;
}

.saly-contact {
    position: relative;
    z-index: 99;
}

.form1 > p {
    margin-top: 2rem;
}

.form1, .form2 {
    width: 40%;
}

.form1 > h1 {
    font-weight: 600;
    font-size: 40px;
    width: 70%;
}

.text-area {
    margin-top: 2.3rem;
    width: 100%;
}

.text-area > span > textarea {
    width: 100%;
    outline: 0;
    height: 180px;
    resize: none;
    border: 1px solid #1E1E1E;
    padding: 12px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #B4B4B4;
    font-size: 12px;
    font-weight: 500;
}  

.text-area > span > textarea:focus {
    border: 1px solid #FD7B38;
    transition: .4s linear;
}

.text-area > span > label {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 9.4px;
    display: block;
}

#root > div > div > div.contact-form > div.form2 > div > form > button {
    width: 40%;
    padding: 15px 9px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: #696969;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.footer-contact {
    filter: drop-shadow(3px 3px 10px #00000014);
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 50px 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer-contact > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.footer-contact > span > a > i, .footer-contact > span > i {
    color: #FD7B38;
    font-size: 30px;
}

.footer-contact > span > a > i:hover, .footer-contact > span > i:hover {
    color: #fd9e6b;
    transition: .4s linear
}

.footer-contact > span:nth-child(2), .footer-contact > span:nth-child(3) {
    justify-content: center;
    gap: 1rem;
}

.footer-contact > span:nth-child(2) > p, .footer-contact > span:nth-child(3) > p {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}