.nav-sec {
    background: #FFE5D7;
}

.page-logo {
    width: 90px;
    cursor: pointer;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    width: 90%;
    margin: auto;
}

.lists {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link {
    font-size: 12px;
    color: #1E1E1E;
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: #FD7B38;
    transition: 0.3s ease;
}

nav > div > span {
    margin-left: 17px;
}

.sign-in {
    color: #FD7B38;
    border: 1px solid #FD7B38;
    padding: 7px 15px;
    display: block;
    text-align: center;
    width: 100px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
}

.sign-in:hover {
    background: #FD7B38;
    color: #FFE5D7;
    transition: 0.3s ease;
}

.hero-section {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}

.hero-section > h1 {
    color: #1E1E1E;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.hero-section > p {
    color: #696969;
    margin: auto;
    width: 32vw;
    margin-top: 1.4rem;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.try-btn {
    background: #FD7B38;
    color: #FFE5D7;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin: auto;
    padding: 10px;
    width: 100px;
    margin-top: 1.4rem;
}

.try-btn:hover {
    background: transparent;
    border: 1px solid #FD7B38;
    transition: .3s ease;
    color: #FD7B38;
}

.figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    padding-bottom: 25rem;
}

.figure > span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.figure > span > p:nth-child(1) {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 8px;
}

.figure > span > p:nth-child(2) {
    font-size: 11px;
    color: #696969;
}

.dashboard {
    position: relative;
    bottom: 23rem;
    width: 80%;
    margin: auto;
    text-align: center;
}

.dashboard-img {
    width: 100%;
}

.main-section {
    position: relative;
    bottom: 12rem;
}

.brand-section {
    text-align: center;
    width: 80%;
    margin: auto;
}

.brand-section > h3 {
    color: #1E1E1E;
    font-weight: 600;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    margin-top: 15px;
}

.img-container > img:nth-child(1) {
    width: 100px;
    cursor: pointer;
}

.img-container > img:nth-child(2) {
    width: 220px;
    cursor: pointer;
}

.img-container > img:nth-child(3) {
    width: 60px;
    cursor: pointer;
}

.img-container > img:nth-child(4) {
    width: 45px;
    cursor: pointer;
}

.img-container > img:nth-child(5) {
    width: 85px;
    cursor: pointer;
}

.features-section {
    text-align: center;
    width: 80%;
    margin: auto;
}

.features-section > h2 {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}

.features-section > p {
    color: #696969;
    font-weight: 500;
}

.features-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.features-img {
    width: 50%;
}

.features-content {
    width: 40%;
    text-align: left;
}

.features-content > h2 {
    margin-bottom: 12px;
    font-family: 600;
    color: #1E1E1E;
}

.features-content > p {
    color: #1E1E1E;
    font-weight: 500;
}

div > div.features-content > button {
    margin: 1.4rem 0;
}

.task-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.task-container {
    background: #FFE5D7;
    padding: 2.7rem 0;
    margin-top: 7rem;
}

.notes-container {
    width: 80%;
    margin: auto;
    margin-top: 7rem;
}